sudo: required
services:
  - docker

before_install:
  - docker build -t orezimeteaching/livingwithunyime -f Dockerfile.dev .

script:
  - docker run -e CI=true orezimeteaching/livingwithunyime npm test -- --coverage
# deploy:
#   provider: elasticbeanstalk
#   region: "us-east-2"
#   app: "reactApp"
#   env: "Reactapp-env"
#   bucket_name: "elasticbeanstalk-us-east-2-565826722560"
#   bucket_path: "reactApp"
#   on:
#     branch: master
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key: $AWS_SECRET_KEY
